body {
    background-color: azure;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: "Ubuntu", sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 75px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 72px;
}

.brand img {
    height: 55px;
}
